@font-face {
  font-family: mont-medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: mont-reg;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: prata;
  src: url(../fonts/Prata-Regular.ttf);
}

h1 {
  font-family: prata;
  font-size: 48px;
  color: #272924;
}
h2 {
  font-family: mont-reg;
  font-size: 32px;
  color: #272924;
}
p {
  font-family: mont-reg;
  font-size: 20px;
  color: #272924;
}

a {
  font-family: mont-reg;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body {
  background-image: linear-gradient(to bottom, #f8f4f1, #e5d6bc);
}

/* FOOTER STYLING */
footer {
  background-color: #6d8273;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  flex: 1;
  display: flex;
}

.leaf-icon {
  display: flex;
  flex: 2;
  max-width: 100px;
  opacity: 60%;
}

.footer-sections {
  display: flex;
  width: 100%;
}

.footer-section {
  text-align: left;
  flex: 1;
}

.footer-section h2 {
  font-family: prata;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2em;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-signup {
  max-width: 400px;
  text-align: start;
}

.footer-signup h2 {
  font-family: prata;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.signup-form input {
  padding: 12px;
  border: solid 0.5px black;
  border-radius: 25px;
  font-size: 16px;
  background-color: #869a8c;
  color: #272924;
}

.signup-form button {
  padding: 12px;
  border: solid 0.1px #2729249f;
  border-radius: 25px;
  background-color: #495b4e;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #8a938e;
  transition: background-color 0.5s;
}

.footer-signup p {
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  color: white;
}

/* Responsive design for mobilvisning */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 0px;
  }

  .leaf-icon {
    position: absolute;
    left: 80%;
    max-width: 100px;
  }

  .footer-sections {
    flex-direction: row;
    gap: 0px;
  }

  .footer-right {
    flex-direction: row;
    gap: 0px;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .footer-section,
  .footer-signup {
    min-width: 50%;
  }
}
