*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a {text-decoration: none;}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #F8F4F1;
}
.nav-menu {
    position: fixed;
    right: -100%;
    top: 205px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}
.nav-item {margin: 16px 0;}
.nav-menu.active{
    right: 0;
}

.hamburger {
    display: block;
    cursor: pointer;
    background-color: #6D8273;
    padding: 20px;
    border-radius: 50%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.active .bar:nth-child(2) {
opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}