main {
margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.desription_card {display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #faf5f2;
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 30px;
    gap: 30px;
}

li {
    font-family: mont-reg;
  font-size: 20px;
}
h2 {
    margin-bottom: 14px;
}

.review_card {
    display: inline-block;
    background-color: #E4EBD4;
    border-radius: 30px;
    padding: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.margin_left {
    margin-left: 25px;
}

.product-box { display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.small-img {
    display: flex;
    flex-direction: column;
}
.small-img img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    margin-left: 25px;
    border: solid 1px black;
}

#big-img {
    max-width: 375px;
    max-height: 375px;
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 10px;
}
#right-side {
    margin-top: 20px;
}

#minus {
    padding: 8px;
    padding-left: 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    background-color: white;
    font-family: mont-medium;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border-width: 1px;
}
#plus {
    padding: 8px;
    padding-right: 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    background-color: white;
    font-family: mont-medium;
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-right: 16px;
}

#amount {
    background-color: white;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 9px;
    border-top-style: solid;
    border-bottom-style: solid;
    font-family: mont-medium;
    font-size: 26px;
    border-width: 1px;
}
.add-to-bag {
    background-color: #6D8273;
     text-decoration: none;
     color: white;
    font-family: mont-medium;
    font-size: 30px;
    padding: 8px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.add-to-bag:hover {
    background-color: #8A938E;
}

#pricetag {display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.in-stock {
    display: flex;
    margin-top: 20px;
}
#green-red {
    padding: 12px;
    background-color: #87BA64;
    border-style: none;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 8px;
}
.gap {
    margin-top: 20px;
}
.discounted-price {
    color: red;
}
footer {
    margin-top: 60px;
}